{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}

{% bootstrap_messages %}

<div class="container wrapper flex-grow-1">

    <h1 class="my-4 text-white">{% trans "Удаление метки" %}</h1>

    <p class="text-white">{% trans "Вы уверены, что хотите удалить" %} {{ label.name }}?</p>

    <form method="post">
    {% csrf_token %}
        <input class="btn btn-danger" type="submit" value="{% trans 'Да, удалить' %}">
    </form>
</div>

{% endblock %}