{% extends "base.html" %}

{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}

{% bootstrap_messages %}

<div class="container wrapper flex-grow-1">

  <h1 class="my-4 text-white">{% trans "Задачи" %}</h1>
  <a class="btn btn-warning mb-3" href="{% url 'task_create' %}" role="button">{% trans "Создать задачу" %}</a>

<div class="card mb-3">
  <div class="card-body bg-dark text-white">
    <form  method="get">

          {% bootstrap_form filter.form %}

        <input class="btn btn-warning" type="submit" value="{% trans 'Показать' %}">
    </form>

    <script>

    document.addEventListener('DOMContentLoaded', function() {
      var label = document.querySelector('label[for="id_self_tasks"]');
      if (label) {
        label.style.color = 'white';
      }
    });

    </script>


  </div>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th class="text-white">ID</th>
      <th class="text-white">{% trans "Имя" %}</th>
      <th class="text-white">{% trans "Статус" %}</th>
      <th class="text-white">{% trans "Автор" %}</th>
      <th class="text-white">{% trans "Исполнитель" %}</th>
      <th class="text-white">{% trans "Дата создания" %}</th>
      <th></th>
    </tr>
  </thead>

  {% for task in filtered_tasks %}

  <tbody>
    <tr>
      <td class="text-white">{{ task.id }}</td>
      <td class="text-white">
        <a href="{% url 'task_detail' task.id %}" style="color: orange;">{{ task.name }}</a>
      </td>
      <td class="text-white">{{ task.status }}</td>
      <td class="text-white">{{ task.author }}</td>
      <td class="text-white">{{ task.executor }}</td>
      <td class="text-white">{{ task.created_at|date:"d.m.Y H:i"  }}</td>
      <td>
        <a href="{% url 'task_update' task.id %}" class="text-primary">{% trans "Изменить" %}</a>
        <br>
        <a href="{% url 'task_delete' task.id %}" class="text-danger">{% trans "Удалить" %}</a>
      </td>
    </tr>
  </tbody>

  {% endfor %}

</table>

</div>

{% endblock %}